#clockContainer{
    position: retative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(cloc..png) no-repeat;
    background-size: 100%;
    }

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}    
#hour{
    width: 1%;
    height: 15%;
    top: 28%;
    left: 49.5%;
    opacity: 0.8;
}
#minute{
    width: 1%;
    height: 29%;
    top: 15%;
    left: 49.5%;
    opacity: 0.8;
}
#second{
    width: 1%;
    height: 39%;
    top: 5%;
    left: 49.5%;
    opacity: 0.8;
}